body {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50vw;
  min-height: 50vh;
  border: 1px solid black;
  border-radius: 15px;
}

.calculadora {
  width: 400px;
}

.display {
  font-size: 2em;
  width: 100%;
  text-align: right;
}

.btn {
  width: 100%;
  height: 50px;
  font-size: 1em;
  border: none;
  background: #dfdfdf;
  cursor: pointer;
}

.btn:hover {
  background: #857878;
}

.btn-eq {
  background-color: royalblue;
}
