
body {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    border: 1px solid black;
    border-radius: 15px;
}

#timer {
    font-size: 3rem;
    font-weight: bold;
}

.btn {
    width: 100px;
    height: 50px;
    font-size: 24px;
    background-color: darkgoldenrod;
    border: unset;
    cursor: pointer;
    box-shadow: 5px 5px #121212;
    margin-left: 5px;
}